:root {
    --bg-principal: #f5f7ff;
    --bg-secundario: #dfe7ff;
    --destacar-primario: #7b61ff;
    --texto-principal: #1b1d2b;
}

body.dark {
    --bg-secundario: #0b0f1a;
    --bg-principal: #151a2e;
    --destacar-primario: #00f5ff;
    --texto-principal: #f5f5f5;
    font-family: "Cinzel", serif;
    min-height: 100vh; 
}

body {
    font-family: "Cinzel", serif;
    background: var(--bg-principal);
    color: var(--texto-principal);
    min-height: 100vh; 
}

a {
    text-decoration: none;
    color: var(--texto-principal);
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
    list-style: none;
}

p {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

h4 {
    color: var(--destacar-primario);
    padding-bottom: 0%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    font-family: "Eater", serif;
}

.titulo-section {
    font-size: clamp(14px, 1.5vw, 30px);
    border-bottom: var(--destacar-primario);
}

.contenedor-principal, .contenedor-secundario  {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    font-size: clamp(13px, 1.2vw, 25px);
}

.contenedor-principal {
    background: var(--bg-principal);

}

.contenedor-secundario {
    background: var(--bg-secundario);
}
