.footer {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, var(--bg-principal) 5% , var(--bg-secundario) 95%);
}

.footer-contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
    gap: 30px;
    margin-bottom: 1%;
}

.titulo-footer {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--destacar-primario);
    border-bottom: 1px solid var(--destacar-primario);

}

.copyright {
    text-align: center;
    border-top: 1px solid var(--destacar-primario);
    color: var(--destacar-primario);
    padding-bottom: 0.1%;
}

@media (max-width: 2560px) {
    .titulo-footer {
        font-size: 35px;
    }
}

@media (max-width: 1440px) {
    .titulo-footer {
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    .titulo-footer {
        font-size: 24px;
    }
}

@media (max-width: 768px)  {
    .titulo-footer {
        font-size: 18px;
    }
}

@media (max-width: 425px)  {
    .titulo-footer {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .titulo-footer {
        font-size: 12px;
    }
}