<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumanji</title>

    <!-- LOGO TIENDA -->
    <link rel="icon" type="image/png" href="/resources/static/img/logo_tienda_sf.png">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    
    <!-- CSS BASE -->
    <link href="/resources/static/styles/base.css" rel="stylesheet">

    <!-- CSS NAV -->
    <link href="/resources/static/styles/nav.css" rel="stylesheet">

    <!-- CSS FOOTER -->
    <link href="/resources/static/styles/footer.css" rel="stylesheet">

    <!-- CSS LIGHT / DARK -->
    <link href="/resources/static/styles/l&d.css" rel="stylesheet">

    <!-- CSS INICIO -->
    <link href="/resources/static/styles/inicio.css" rel="stylesheet">

    <!-- LETRA DARK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eater&display=swap" rel="stylesheet">


</head>
<body>

    <!-- NAVEGADOR COMPLETO -->
    <nav class="contenedor"> 
        <!-- CONTENEDOR PARA IMAGEN DE MARCA EN EL NAV -->
        <div class="marca">
            <div class="img-logo" alt="Logo de la tienda Jumanji">
            </div>
        </div>

        <!-- NAVEGADOR PARTE INTERACTIVA -->
        <div>
            <ul>
                <li>
                    <a href="/resources/templates/inicio.html"> Inicio
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                
                <li> 
                    Categorias 
                        <i class="fa-solid fa-table-list"></i>
                    <!-- SUBMENU CATEGORIAS RECUADRO EMERGENTE -->
                    <div>
                        <ul>

                            <li>
                                <a href="/resources/templates/estrategia.html"> Estrategia 
                                    <i class="fa-solid fa-chess"></i>
                                </a>
                            </li>

                            <li>
                                <a href="/resources/templates/coperativos.html"> Cooperativos 
                                    <i class="fa-solid fa-handshake"></i>
                                </a> 
                            </li>

                            <li>
                                <a href="/resources/templates/rol.html"> Rol 
                                    <i class="fa-solid fa-masks-theater"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/resources/templates/casual.html"> Casual
                                    <i class="fa-solid fa-dice-five"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#footer_contacto"> Contacto
                        <i class="fa-solid fa-circle-user"></i>
                    </a>
                </li>

                <!-- CARRITO -->
                <div>
                    <li>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </li>
                </div>

                <!-- ICONO RESPONSIVE -->
                <div>
                    <i class="fa-solid fa-bars"></i>
                </div>

            </ul>

        </div>
    </nav> 

    <!-- FOOTER COMPLETO -->
    <footer class="footer">

        <div class="footer-contenido">

            <div class="footer-columna">
                <ul>
                    <li class="titulo-footer" id="footer_contacto_rol">Contacto</li>
                    
                    <li>
                        <a href="">Correo</a>
                    </li>

                    <li>
                        <a href="">Teléfono</a>
                    </li>

                    <li>
                        <a href="">Dirección</a>
                    </li>

                </ul>
            </div>

            <div class="footer-columna">
                <ul>
                    <li class="titulo-footer">Redes</li>

                    <li>
                        <a href="">Facebook</a>
                    </li>
                    <li>
                        <a href="">Instagram</a>
                    </li>
                    <li>
                        <a href="">Twitter</a>
                    </li>
                </ul>
            </div>

            <div class="footer-columna">
                <ul>

                    <li class="titulo-footer">Comunidad</li> 

                    <li>
                        <a href="#">Grupo WhatsApp</a>
                    </li>

                    <li>
                        <a href="#">Discord</a>
                    </li>

                    <li>
                        <a href="#">Eventos</a>
                    </li>
                </ul>                
            </div>

        </div>

        <div class="copyright">
            <h4>Copyright © 2026 Jumanji. Todos los derechos reservados.</h4>
        </div>
    </footer>

    <!-- JAVASCRIPT -->
    <!-- JAVASCRIPT MODO LIGHT & DARK -->
    <script src="/resources/static/js/l&d.js"></script> 
</body>
</html>